name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install build deps
      run: |
        sudo apt-get update -y
        sudo apt-get install -y --no-install-recommends \
                clang \
                libbpf-dev \
                make \
                linux-headers-generic \
                linux-headers-$(uname -r) \
                linux-libc-dev
        sudo ln -s /usr/include/x86_64-linux-gnu/asm /usr/include/asm

    - name: make
      run: make
